@import 'variables', 'normalize', 'mixins', 'animations';

body {
  font-family: Product-Sans-Regular, Helvetica, Arial, sans-serif;
  line-height: 26px;
  color: #bcbcbc;
  scroll-behavior: smooth;
  background: #2c2c2c;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #e0e0e0;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #e0e0e0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #bdbdbd;

    &:hover {
      background-color: #9e9e9e;
    }
    &:active {
      background-color: #757575;
    }
  }
}

footer,
header,
nav {
  position: relative;
}

header {
  &::after {
    @include backgroundImage(
      '../img/weatherHeroAfter.svg',
      35%,
      5vh,
      unset,
      unset,
      0
    );
  }
  &::before {
    @include backgroundImage(
      '../img/weatherHeroBefore.svg',
      25%,
      unset,
      5vw,
      5vh,
      unset
    );
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}

nav {
  width: 100%;

  &.transparent {
    background: 0 0;
  }
}

a,
button {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s;
}

a:hover,
button:hover {
  text-decoration: none;
}

a {
  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

button {
  border: none;
  outline: 0 !important;

  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

label {
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-family: Product-Sans-Medium, Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-size: 58px;
  line-height: 70px;
}

h1.big,
h2.big {
  font-size: 72px;
  line-height: 86px;
}

h3 {
  font-size: 42px;
  line-height: 52px;
}

.search {
  display: none;
  width: 100%;
  margin-bottom: auto;
  margin-top: 20px;
  height: 50px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;

  .search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 20px;
    transition: width 0.4s linear;
    padding: 0 10px;
    width: 100%;
    caret-color: #536bf6;
    font-size: 19px;
    font-weight: 300;
    color: black;
  }

  .search-icon {
    height: 34px;
    width: 34px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6;
    font-size: 10px;
    bottom: 30px;
    position: relative;
    border-radius: 5px;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.splide {
  display: none;

  .card {
    color: #4b515d;
    border-radius: 35px;
  }
}

[data-aos='fade-down'] {
  transform: translate3d(0, -35px, 0);
}

[data-aos='fade-up'] {
  transform: translate3d(0, 35px, 0);
}

[data-class='none']::after,
[data-class='none']::before {
  content: none;
}

.container {
  position: relative;
}

::-moz-selection,
::-webkit-selection,
::selection {
  background: #e93a7d;
  color: #fff;
}

.cuatrovientos {
  font-family: 'Product-Sans-Bold';
  font-size: 2em;
}

@media (max-width: 1199.98px) {
  header {
    &[class*=' pt-'],
    &[class^='pt-'] {
      padding-top: 80px;
    }

    &[class*=' pb-'],
    &[class^='pb-'] {
      padding-bottom: 80px;
    }
  }

  .text-adaptive br,
  h1 br,
  h2 br,
  h3 br {
    display: none;
  }

  h1,
  h2 {
    font-size: 52px;
    line-height: 62px;
  }

  h1.big,
  h2.big {
    font-size: 62px;
    line-height: 72px;
  }

  h3 {
    font-size: 36px;
    line-height: 46px;
  }

  .navigation_mobile {
    display: block;
  }
}

@media (max-width: 991.98px) {
  h1,
  h2 {
    font-size: 42px;
    line-height: 52px;
  }

  h1.big,
  h2.big {
    font-size: 52px;
    line-height: 62px;
  }

  h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .text-adaptive {
    &.f-24 {
      font-size: 22px;
      line-height: 32px;
    }

    &.f-22 {
      font-size: 20px;
      line-height: 30px;
    }

    &.f-20 {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .alert {
    top: 10px;
    left: 20px;
    right: 20px;
    transform: none;
    width: auto;
    padding-left: 40px;
  }
}

@media (max-width: 767.98px) {
  h1,
  h2 {
    font-size: 32px;
    line-height: 42px;
  }

  h1.big,
  h2.big {
    font-size: 42px;
    line-height: 52px;
  }

  h3 {
    font-size: 26px;
    line-height: 36px;
  }

  .text-adaptive {
    &.f-24 {
      font-size: 20px;
      line-height: 30px;
    }

    &.f-22 {
      font-size: 18px;
      line-height: 28px;
    }

    &.f-18,
    &.f-20 {
      font-size: 16px;
      line-height: 26px;
    }
  }

  .btn {
    &.lg {
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
      font-size: 18px;
      font-weight: 500;

      &[class*=' border-'],
      &[class^='border-'] {
        line-height: 46px;
      }
    }

    &.xl {
      height: 60px;
      line-height: 60px;
      padding: 0 35px;
      font-size: 18px;
      font-weight: 500;

      &[class*=' border-'],
      &[class^='border-'] {
        line-height: 56px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  h1,
  h2 {
    font-size: 26px;
    line-height: 36px;
  }

  h1.big,
  h2.big {
    font-size: 32px;
    line-height: 42px;
  }

  .btn.xl {
    height: 50px;
    line-height: 50px;
    padding: 0 30px;

    &[class*=' border-'],
    &[class^='border-'] {
      line-height: 46px;
    }
  }
}

@media (max-width: 767.98px) {
  .header_1 {
    .text-adaptive {
      margin-top: 20px;
    }

    .buttons {
      margin-top: 40px;
    }
  }
}

@media (max-width: 767.98px) {
  .header_2 {
    .text-adaptive {
      margin-top: 20px;
    }

    form {
      margin-top: 40px;

      .btn {
        margin-top: 15px;
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .navigation_2 a {
    margin: 0 15px;
  }
}

@media (max-width: 767.98px) {
  .content_1 h2 {
    margin-top: 10px;
  }
}

@media (max-width: 991.98px) {
  .content_2 .text-adaptive {
    margin-top: 15px;
  }
}

@media (max-width: 467.98px) {
  .form_1 {
    h2 {
      margin-bottom: 20px;
    }

    form {
      padding: 30px;
    }
  }
}

@media (max-width: 359.98px) {
  .form_1 form {
    padding: 30px 20px;
  }
}

@media (max-width: 1199.98px) {
  .form_2 {
    form {
      padding: 80px 0;
    }

    .buttons {
      margin-top: 10px;
    }

    button {
      margin-right: 0;
      width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .form_2 form {
    max-width: 290px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px) {
  .footer_1 .links a {
    margin: 0 10px;
  }
}
