@mixin backgroundImage($image, $size, $top, $right, $bottom, $left) {
  content: '';
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $size;
  height: $size;
  background: url($image) no-repeat;
  background-size: cover;
  z-index: 1000;
  animation: animation 1.3s linear both;
  animation-delay: 0.5s;
}
