/*
* VARIABLES
* 
* 1. FONTS
* 2. COLORS
*/

/*** 1. FONTS ***/

@font-face {
  font-family: 'Product-Sans-Black';
  src: url(../fonts/ProductSans-Black.ttf);
}

@font-face {
  font-family: 'Product-Sans-Black-Italic';
  src: url(../fonts/ProductSans-BlackItalic.ttf);
}

@font-face {
  font-family: 'Product-Sans-Bold';
  src: url(../fonts/ProductSans-Bold.ttf);
}

@font-face {
  font-family: 'Product-Sans-Bold-Italic';
  src: url(../fonts/ProductSans-BoldItalic.ttf);
}

@font-face {
  font-family: 'Product-Sans-Italic';
  src: url(../fonts/ProductSans-Italic.ttf);
}

@font-face {
  font-family: 'Product-Sans-Light';
  src: url(../fonts/ProductSans-Light.ttf);
}

@font-face {
  font-family: 'Product-Sans-Light-Italic';
  src: url(../fonts/ProductSans-LightItalic.ttf);
}

@font-face {
  font-family: 'Product-Sans-Medium';
  src: url(../fonts/ProductSans-Medium.ttf);
}

@font-face {
  font-family: 'Product-Sans-Medium-Italic';
  src: url(../fonts/ProductSans-MediumItalic.ttf);
}

@font-face {
  font-family: 'Product-Sans-Regular';
  src: url(../fonts/ProductSans-Regular.ttf);
}

@font-face {
  font-family: 'Product-Sans-Thin';
  src: url(../fonts/ProductSans-Thin.ttf);
}

@font-face {
  font-family: 'Product-Sans-Thin-Italic';
  src: url(../fonts/ProductSans-ThinItalic.ttf);
}

/*** 2. COLORS ***/
